.App {
  height: 100vh;  
  width: 100vw; 
}
.channel-wrap{
  display: flex;
  height: 100%;
}

.channel-list,
.channel-chat{
  float: left;
}

.channel-chat{
  width: 76%;
  float: right;
}

li {
  cursor: pointer;
  list-style-type: none;
  font-family: sans-serif;
}

.MuiTypography-root.MuiCardHeader-title.MuiTypography-body2.MuiTypography-displayBlock,
.MuiTypography-root.MuiTypography-body2{
  text-align: left;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSizeSmall.MuiButton-sizeSmall{
  background-color:var(--sendbird-light-primary-300);
  color: white;
}

#icon-button-file{
  display: none !important;
}

.MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-formControl.MuiInputBase-multiline.MuiFilledInput-multiline {
  background-color: white;
  box-shadow: var(--sendbird-light-shadow-02);
  width: 300px;
  border: 2px solid #6210cc;
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
  position: relative;
}

.bg-modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0px;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 30%;
  height: 50%;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  position: absolute;
  overflow-x:hidden; 
  overflow-y:auto; 
}

#schedule-message-form{
  padding:10px;
  height: 50%;
  font-family: sans-serif;
}

#schedule-message-form-title{
  margin: 40px 0px 20px 0px;
  padding: 0px 10px;
}

#input-label{
  padding-right: 5px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

#scheduled-message,
#message-input {
  font-family: var(--sendbird-font-family-default);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}
.message-input-wrapper{
  padding-bottom: 20px;
}

#save_btn {
  margin-top: 20px;
}

.close_btn {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

#save_btn {
  border-radius: 5px;
  border: 1px solid #6210cc;
  background-color: #6210cc;
  color: white;
  padding: 3px 6px;
  cursor: pointer;
  font-weight: bold;
}

.scheduled-messages-list-count{
  margin-top: 30px;
  margin-bottom: 20px;
}
.scheduled-messages-list-title{
  margin: 0px;
}

.scheduled-messages-list-count,
.scheduled-messages-list-title{
  padding: 0px 10px;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

.scheduled-messages-list{
  margin: 10px 0px;
  padding: 0px 10px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
}

.scheduled-message-wrapper{
  padding-bottom: 10px;
}

#update_button,
#cancel_button{
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #6210cc;
  background-color: #6210cc;
  color: white;
  padding: 3px 6px;
  cursor: pointer;
  font-weight: bold;
}